<?xml version="1.0" encoding="UTF-8"?>
<teamcity-agent-plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                       xsi:noNamespaceSchemaLocation="urn:schemas-jetbrains-com:teamcity-agent-plugin-v1-xml">
    #if( $param.customPluginName)
    <!-- @@AGENT_PLUGIN_NAME=${param.pluginName}@@ -->
    #end

    #if($param.tool)
        <tool-deployment/>
    #else
        <plugin-deployment
                #if($null.isNotNull($param.descriptor.useSeparateClassloader))
                        use-separate-classloader="${param.descriptor.useSeparateClassloader}"
                #end
        />
        #if( $param.descriptor.pluginDependencies || $param.descriptor.toolDependencies)
        <dependencies>
            #foreach( $dependency in $param.descriptor.pluginDependencies )
                <plugin name="${dependency}"/>
            #end
            #foreach( $dependency in $param.descriptor.toolDependencies )
                <tool name="${dependency}"/>
            #end
        </dependencies>
        #end
    #end
</teamcity-agent-plugin>