<?xml version="1.0" encoding="UTF-8"?>
<teamcity-plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xsi:noNamespaceSchemaLocation="urn:schemas-jetbrains-com:teamcity-plugin-v1-xml">
    <info>
        <name>${param.pluginName}</name>
        <display-name>${project.name}</display-name>
#if( $project.description )
        <description>${project.description}</description>
#end
        <version>${param.descriptor.pluginVersion}</version>
#if( $project.organization )
        <vendor>
            <name>$!{project.organization.name}</name>
            <url>$!{project.organization.url}</url>
        </vendor>
#end
    </info>
    <deployment
        #if($null.isNotNull($param.descriptor.useSeparateClassloader))
                use-separate-classloader="${param.descriptor.useSeparateClassloader}"
        #end
        #if($null.isNotNull($param.descriptor.allowRuntimeReload))
                allow-runtime-reload="${param.descriptor.allowRuntimeReload}"
        #end
        #if($null.isNotNull($param.descriptor.nodeResponsibilitiesAware))
                node-responsibilities-aware="${param.descriptor.nodeResponsibilitiesAware}"
        #end
    />
    #if( $param.descriptor.pluginDependencies || $param.descriptor.toolDependencies)
    <dependencies>
        #foreach( $dependency in $param.descriptor.pluginDependencies )
        <plugin name="${dependency}"/>
        #end
        #foreach( $dependency in $param.descriptor.toolDependencies )
            <tool name="${dependency}"/>
        #end
    </dependencies>
    #end
</teamcity-plugin>
