<?xml version="1.0" encoding="UTF-8"?>
<teamcity-plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xsi:noNamespaceSchemaLocation="urn:schemas-jetbrains-com:teamcity-plugin-v1-xml">
    <info>
        <name>${param.pluginName}</name>
        <display-name>${project.name}</display-name>
#if( $project.description )
        <description>${project.description}</description>
#end
        <version>${project.version}</version>
#if( $project.organization )
        <vendor>
            <name>$!{project.organization.name}</name>
            <url>$!{project.organization.url}</url>
        </vendor>
#end
    </info>
    <deployment use-separate-classloader="${param.useSeparateClassloader}" allow-runtime-reload="${param.allowRuntimeReload}" node-responsibilities-aware="${param.nodeResponsibilitiesAware}"/>
    #if( $param.pluginDependencies || $param.toolDependencies)
    <dependencies>
        #foreach( $dependency in $param.pluginDependencies )
        <plugin name="${dependency}"/>
        #end
        #foreach( $dependency in $param.toolDependencies )
            <tool name="${dependency}"/>
        #end
    </dependencies>
    #end
</teamcity-plugin>
